<div class="tools-bg" aria-hidden="true">

  {{ $t1 := resources.Get "icons/screwdriver-svgrepo-com.svg" }}
  <div class="tool tool-1">{{ $t1.Content | safeHTML }}</div>

  {{ $t2 := resources.Get "icons/power-drill-tools-svgrepo-com.svg" }}
  <div class="tool tool-2">{{ $t2.Content | safeHTML }}</div>

  {{ $t3 := resources.Get "icons/hammer-and-wrench-svgrepo-com.svg" }}
  <div class="tool tool-3">{{ $t3.Content | safeHTML }}</div>

  {{ $t4 := resources.Get "icons/3d-printer-svgrepo-com.svg" }}
  <div class="tool tool-4">{{ $t4.Content | safeHTML }}</div>

  {{ $t5 := resources.Get "icons/drill-svgrepo-com.svg" }}
  <div class="tool tool-5">{{ $t5.Content | safeHTML }}</div>

</div>