{{/* On récupère le fichier copié par le script prebuild */}}
{{ $aos := resources.Get "js/aos.js" | minify | fingerprint }}

{{ if $aos }}
  <script src="{{ $aos.RelPermalink }}" integrity="{{ $aos.Data.Integrity }}"></script>
{{ end }}

{{ $glightbox := resources.Get "js/glightbox.js" | minify | fingerprint }}
{{ if $glightbox }}
  <script src="{{ $glightbox.RelPermalink }}" integrity="{{ $glightbox.Data.Integrity }}"></script>
{{ end }}

<script>
  // On utilise window.load pour être certain que TOUT (images, scripts, CSS) est prêt
  window.addEventListener('load', function() {
    if (typeof AOS !== 'undefined') {
      AOS.init({
        duration: 1000,
        once: false
      });
      console.log("AOS initialisé avec succès !");
    } else {
      console.error("Erreur : Le script AOS n'est pas chargé dans le navigateur.");
    }
  });
</script>